#contact-form-editor .cf7-fields .form-table th {
    width: 200px;
}
/*Toggle button*/

#cf7-toggle-button {
    display: none;
}
.cf7-toggle-button {
    position: relative;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    width: 90px;
}
.cf7-toggle-button-checkbox {
    display: none;
}
.cf7-toggle-button-label {
    border: 2px solid #999999;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    overflow: hidden;
}
.cf7-toggle-button-inner {
    display: block;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    width: 200%;
}
.cf7-toggle-button-inner:before,
.cf7-toggle-button-inner:after {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    width: 50%;
}
.cf7-toggle-button-inner:before {
    background-color: #0085ba;
    color: #FFFFFF;
    content: "YES";
    padding-left: 10px;
}
.cf7-toggle-button-inner:after {
    background-color: #eee;
    color: #999999;
    content: "NO";
    padding-right: 10px;
    text-align: right;
}
.cf7-toggle-button-switch {
    background: #FFFFFF;
    border: 2px solid #999999;
    bottom: 0;
    border-radius: 20px;
    display: block;
    margin: 6px;
    position: absolute;
    right: 56px;
    top: 0;
    transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    width: 18px;
}
.cf7-toggle-button-checkbox:checked + .cf7-toggle-button-label .cf7-toggle-button-inner {
    margin-left: 0;
}
.cf7-toggle-button-checkbox:checked + .cf7-toggle-button-label .cf7-toggle-button-switch {
    right: 0;
}
/*For status check*/

.status-check .dashicons.activate,
.status-check .dashicons.not-activate {
    position: relative;
    bottom: 3px;
    font-size: 30px;
    margin: 0 10px;
}
.status-check .dashicons.activate {
    color: #4caf50;
}
.status-check .dashicons.not-activate {
    color: #f44336;
}
span.green-text {
    color: #4caf50;
}
span.red-text {
    color: #f44336;
}