.cf7_field_gs {
   position: relative;
   min-width: 255px;
   border: 1px solid #e5e5e5;
   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
   box-shadow: 0 1px 1px rgba(0,0,0,0.04);
   background: #fff;
}
.cf7_field_gs label {
   margin: 0 25px 0 25px;
   float: left;
   width: 22%;
   font-size: 14px;
}
.cf7_field_gs input {
   width: 250px;
}
.cf7_field_gs span {
   margin: 20px 0 20px 10px;
}